@import url('https://fonts.google.com/share?selection.family=Roboto+Slab:wght@100..900');

:root{

  --blue-theme-background-color : #1d1d1d;
  --blue-theme-main-color : #3c99dc;
  --blue-theme-sub-text-color : #ffffff;
  --black-theme-nav-background-color : #181818;
}

*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--blue-theme-background-color);
  height: 100%;
}

#root {
  height: 100%;
}