@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue-theme-background-color: #1d1d1d;
    --blue-theme-main-color: #3c99dc;
    --blue-theme-sub-text-color: #ffffff;
    --black-theme-nav-background-color: #181818;
    --font-base: 'Roboto Slab', serif;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--font-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--blue-theme-background-color);
    color: var(--blue-theme-sub-text-color);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

#root {
    height: 100%;
}